@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("./fontawesome/all.css");
@import url("./buttons.min.css");
:root {
  --main-color: #212529;
  --border: #3d5a80;
  --active: #5f7c93;
  --alert-color: #ffd60a;
  --background-color: #03071e;
  --text-color: #fffffc;
  --display-color: #fffffc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

.alert {
  width: 100%;
  background-color: var(--alert-color);
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
}

.alert .alert-text {
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.alert .alert-close {
  font-size: 3rem;
}

.alert .alert-close:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  padding-top: 1rem;
  position: relative;
}

.container .logo {
  display: block;
  margin-right: 20%;
  padding: 0.2rem 0 0.2rem 0;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  justify-self: end;
}

.container .switch {
  margin-left: 20%;
  justify-self: start;
  width: 100px;
  height: 34px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.container .switch button {
  all: unset;
}

.container .switch i {
  font-size: 1.2rem;
  width: 24px;
  height: 24px;
  margin: auto;
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
}

.container .active {
  border: 2px solid var(--active);
  border-radius: 10px;
}

.container .top-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container .top-wrapper .display {
  width: 80%;
  height: 150px;
  background-color: var(--display-color);
  border: 10px solid var(--background-color);
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.container .top-wrapper .display::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.container .top-wrapper .display::-webkit-scrollbar-thumb {
  background-color: var(--active);
  border-radius: 10px;
}

.container .top-wrapper .display::-webkit-scrollbar-track {
  background: var(--border);
  border-radius: 10px;
}

.container .top-wrapper .display .history {
  width: 90px;
  height: 90px;
}

.container .top-wrapper .history-buttons-wrapper {
  width: 10%;
}

.container .top-wrapper .history-buttons-wrapper .history-button {
  width: 100%;
  background-color: var(--alert-color);
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  height: 50px;
  border-radius: 10px;
  margin: 0 0 0.5rem 0px;
  transition: all .3s ease;
}

.container .top-wrapper .history-buttons-wrapper .history-button:hover {
  cursor: pointer;
}

.container .top-wrapper .history-buttons-wrapper .history-button:active {
  background-color: #fffffc;
}

.container .top-wrapper .history-buttons-wrapper .history-button .history-undo-text {
  display: none;
}

#tink {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: normal;
    grid-auto-columns: 53px;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .container .logo {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .container .switch {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .container .button {
    width: 156px;
    height: 156px;
    margin: 18px;
  }
  .container .button p {
    font-size: 8rem;
  }
  .container .top-wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .container .top-wrapper .display {
    width: 80%;
  }
  .container .top-wrapper .history-buttons-wrapper {
    width: 10%;
  }
  .container .top-wrapper .history-buttons-wrapper .history-button .history-undo-text {
    display: block;
    font-size: .5rem;
  }
  #tink {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}

.window-alert {
  background-color: var(--alert-color);
}

@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}

@media screen and (min-height: 1000px) {
  .container {
    height: 100vh;
  }
  .container .logo {
    font-size: 3rem;
    padding: 1rem 0 0rem 0;
  }
}

@keyframes push {
  from {
    border: solid 1px var(--border);
  }
  to {
    border: solid 5px var(--active);
    opacity: 1;
  }
}
