:root {
  --main-color: #212529;
  --border: #3d5a80;
  --little-buttons: #ffd60a;
  --background-color: #03071E;
  --text-color: #fffffc;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  margin: auto;
  width: 1000px;
  background-color: var(--main-color);

  .button {
    width: 156px;
    height: 156px;
    background-color: var(--main-color);
    border: solid 1px var(--border);
    border-radius: 10px;
    margin: 10px;
    color: var(--text-color);
    position: relative;

    h1{
      font-size: 12px;
      // padding: 0.2rem 0 0 0;
      text-transform: uppercase;
      position: absolute;
      top: 0.2rem;
      left: 0.4rem;
      z-index: 2;
      color: var(--border);
    }
    p{
      text-align: center;
      font-size: 8rem;
      opacity: 0.1;
      color: var(--border);
    }

  }
}
